{%- extends "base.html" %}

{%- block contents %}
        <div class="page_{{data.id}} page_contents">
          {%- for item in data.content %}
            {%- set article_name = item.fieldId.replace('section-','') + '_article' %}
            <article class="page_article {{article_name}} {{item.class_name or ''}}">
                {%- if item.title %}<h3 class="page_article-title">{{item.title}}</h3>{%- endif %}
                <div class="page_article-content {{article_name}}-content">

                  {%- if item.fieldId == 'section-text' %}
                    <div class="{{article_name}}-text">
                      {%- if item.notation[0] == 'plain_text' %}
                        {{item.text|nl2pbr}}
                      {%- elif item.notation[0] == 'markdown' %}
                        {{item.text|markdown}}
                      {%- elif item.notation[0] == 'html' %}
                        {{item.text|safe}}
                      {%- endif %}
                    </div>
                  {%- endif %}

                  {%- if item.fieldId == 'special_content' and item.content[0] == 'study_archive' %}
                    <ul>
                      {%- for item in study %}
                        <li><a href="{{url_for('view_study', id=item.id)}}">{{item.title}}</a></li>
                      {%- endfor %}
                    </ul>
                  {%- endif %}

                  {%- if item.fieldId == 'section-image_single' %}
                    <div class="{{article_name}}-text">{{item.text|nl2br}}</div>
                    {% if item.image %}<img class="{{article_name}}-img image" src="{{item.image.url}}?w=480" />{%- endif %}
                  {%- elif item.fieldId == 'section-image_double' %}
                    {% if item.text1 %}<div class="{{article_name}}-text1">{{item.text1|markdown}}</div>{% endif %}
                    {% if item.image1 %}<img class="{{article_name}}-img1 image" src="{{item.image1.url}}?w=480" />{% endif %}
                    {% if item.text2 %}<div class="{{article_name}}-text2">{{item.text2|markdown}}</div>{% endif %}
                    {% if item.image2 %}<img class="{{article_name}}-img2 image" src="{{item.image2.url}}?w=480" />{% endif %}
                  {%- elif item.fieldId == 'section-double_image' %}
                    {% if item.image1 %}<img class="{{article_name}}-img1 image" src="{{item.image1.url}}?w=480" />{% endif %}
                    {% if item.image2 %}<img class="{{article_name}}-img2 image" src="{{item.image2.url}}?w=480" />{% endif %}
                  {%- elif item.fieldId == 'section-image' %}
                    {% if item.image %}<img class="{{article_name}}-img image" src="{{item.image.url}}?w={{'1200' if item.large else '480'}}" />{% endif %}
                  {%- elif item.fieldId == 'section-img_slide' %}
                    <ul class="{{article_name}}-list">
                      {%- for url in [item.img1.url, item.img2.url, item.img3.url] %}
                        <li class="{{article_name}}-item">
                            <img class="{{article_name}}-img" src="{{url}}?w=480" />
                        </li>
                      {%- endfor %}
                    </ul>
                  {%- endif %}
                </div>
            </article>
          {%- endfor %}
        </div>
{%- endblock %}
